

.Calculator {
  width: 300px;
  border: 1px solid gray;
  background-color: whitesmoke;
  display: flex; 
  flex-direction: column;
  padding: 5px;
  margin: auto; 
  box-sizing: border-box;

}

.display, .middleDiv {
  max-height: 32px;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  background-color: whitesmoke;
  align-self: stretch;
  display: flex;  
  flex-direction: column;
  margin: 1px;
  text-align: right;
  }

  .middleDiv > p > span {
    font-size: 18px;
  }
 
  

  .wholeButtons {
    display: flex;
    border: 5px solid whitesmoke;
    border-radius: 5px;
    align-items: center; 
    justify-content: center;
    flex-wrap: nowrap;
  }

  /**
  #btncontainer {
    border: 5px solid gray;
    background-color: whitesmoke;
    width: 80%;
  } **/

  #btncontainer Button {
    border: 2px solid gainsboro;
    border-radius: 2px;
    background-color: whitesmoke;
    width: 30%;   
    padding: 20px;
    font-size: 16px;
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 1px;
  }

  #clearContainer, #numberContainer, #zeroContainer {
    border: 3px solid whitesmoke;   
    align-self: stretch;
    flex-wrap: nowrap; 
    margin-top: 1px;
  }
  
  #zeroContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;   
  }

  #clearContainer {
    display: flex;
  }
  


   #Zero, #ErasetoLeft {
    flex-grow: 2;
   }
 

  .opbuttons {
    width: 55%;
   /** border: 2px solid black; **/
   /** background-color: aquamarine; **/
    display: flex;
    flex-direction: column;
    align-self: stretch;
    
    
  }
  .opbuttons Button {
    border: 2px solid gainsboro;
    border-radius: 2px;
    background-color: whitesmoke;
    /**width: 30%; **/
    padding: 20px;
    height: 20%;
    margin-top: 1px;
    font-size: 16px;
  }

 